body{
    margin:0 auto;
}

header {
    height:50px;
    width:1000px;
}

.header-logo{
 float:left;
 width:100px;
 margin:10px 0;
 text-align: center;
 background-color:black;
 color:white;
}

.header-list{
    float:right
}
